# Editors & Environment
.vagrant/
.vscode/
.idea/
.env
.nvmrc
tslint.json

# NodeJS & NPM
node_modules/

# Git
.git/
.gitignore
.gitattributes

# Docker
.dockerignore
Dockerfile

*.log

*.md
LICENSE
docs/
release/
tmp/
