<div class="collapsible">
	<input id="{{title}}" class="toggle" type="checkbox">
	<label for="{{title}}" class="toggle-label">{{title}}</label>
	<div class="collapsible-content-wrapper">
		<div class="collapsible-content">
			{{> @partial-block }}
		</div>
	</div>
</div>
