<!DOCTYPE html>
<html>
	<head>
		<title>{{site.title}} Game Server</title>
		<link rel="stylesheet" type="text/css" href="/styles/reset.css">
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
		<link rel="icon" type="image/png"  href="/styles/favicon.png">
	</head>
	<body>
		<div id="main">
			<h1 id="site-title"><a href="/">{{site.title}} Game Server</a></h1>
			{{{body}}}
		</div>
	</body>
</html>
