<section id="games" class="info-block">
	<h2>Available Games on this Server</h2>
	<ul class="game-list">
	{{#each games}}
		<li>
			<span class="game-name">{{this.name}}</span>
			<span class="game-description">{{this.description}}</span>
			<span class="game-documentation"><a href="/documentation/{{this.name}}">Documentation</a></span>
		</li>
	{{/each}}
	</ul>
</section>

<section id="gamelogs" class="info-block">
	<h2>Game Archieves</h2>
	{{> gamelogs}}
	{{#if moreGamelogs}}
		<a href="/archives/">More Gamelogs</a>
	{{/if}}
</section>
